@model Company_Reviewing_System.Models.Reply


<article class="row mb-3 mt-3">
    <div class="col-md-2 col-sm-2 offset-md-1 offset-sm-0">
        <figure class="img-thumbnail">
            <img class="img-fluid" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
            <figcaption class="text-center">@Model.Author.FullName</figcaption>
        </figure>
    </div>
    <!-- TO DO Sort Replies by date-->
    <div class="col-md-9 col-sm-9">
        <div class="card card-default arrow left">
            <div class="card-header right">Reply</div>
            <div class="card-body">
                <header class="text-left">
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Created on @Html.DisplayFor(model => model.Date.Date)</time>
                    <br />
                </header>
                <div class="comment-post">
                    <p>
                        @Html.DisplayFor(model=>model.Body)
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</article>
