@model Company_Reviewing_System.Models.Review


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                                          
<div>
    <article class="row">
        <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="thumbnail">
                <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                <figcaption class="text-center">username</figcaption>
            </figure>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
                <div class="panel-body">
                    <header class="text-left">
                        <!-- TO DO Sort Reviews by date-->
                        <!-- <div class="comment-user"> @Html.DisplayFor(m=>m.Author.FirstName)</div> -->
                        <div class="comment-user"><i class="fa fa-user"></i> Ahmed Dardery</div>
                        <time class="comment-date"><i class="fa fa-clock-o"></i> Created on @Html.DisplayFor(m => m.Created.Date)</time>
                    </header>
                    <br />
                    <div class="comment-post">
                        <p>
                            @Html.DisplayFor(m=>m.Body)
                        </p>
                    </div>
                     <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>

                </div>
            </div>
        </div>
    </article>
    
    <div>
        @if (Model.Replies.Count == 0)
        {
            <span>No Replies!</span>
        }
        else
        {
            @foreach (Reply reply in Model.Replies)
            {
                @await Html.PartialAsync("../Reply/_ReplyBox", reply);
            }
        }
        @if (User.Identity.IsAuthenticated)
            @await Component.InvokeAsync("AddNewReply", new { reviewId = Model.ReviewId })
    </div>
</div>


@section script{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}

@section css{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/reviews.css" rel="stylesheet"/> 
}