@model Company_Reviewing_System.Models.Review

                                          
<div>
    <article class="row mb-3 mt-3">
        <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="img-thumbnail">
                <img class="img-fluid" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                <figcaption class="text-center">
                    @if (Model.Author is null)
                    {
                        <div class="comment-user"><i>anonymous</i></div>
                    }
                    else
                    {
                        <div class="comment-user">@Model.Author.FullName</div>
                    }
                </figcaption>
            </figure>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="card arrow left">
                <div class="card-body pb-0">
                    <header class="text-left">
                        <!-- TO DO Sort Reviews by date-->
                        <!-- <div class="comment-user"> <i class="fa fa-user"></i></div> -->

                        <time class="comment-date"><i class="fa fa-clock-o"></i> Created on @Html.DisplayFor(m => m.Created.Date)</time>
                    </header>
                    <br />
                    <div class="comment-post">
                        <p>
                            @Html.DisplayFor(m=>m.Body)
                        </p>
                    </div>
                     <p class="text-right"><a href="#" class="btn btn-outline-secondary btn-sm"><i class="fa fa-reply"></i> reply</a></p>

                </div>
            </div>
        </div>
    </article>
    
    <div>

            @foreach (Reply reply in Model.Replies.OrderBy(r=>r.Date))
            {
                @await Html.PartialAsync("../Reply/_ReplyBox", reply);
            }
        <article class="row">
            <div class="col-md-11 col-sm-11 col-md-offset-1">
                @if (User.Identity.IsAuthenticated)
                    @await Component.InvokeAsync("AddNewReply", new { reviewId = Model.ReviewId })
            </div>
        </article>
</div>
</div>


@section script{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}

@section css{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/reviews.css" rel="stylesheet"/> 
}